# Virtual environment
.venv/
venv/

# Data folders
data/**
!data/**/*.dvc
!data/.gitignore

datasets/

# Jupyter notebooks checkpoints
notebooks/
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
